<app-tabla-contadores
  *ngIf="vistaActiva === 'listado'"
  [(currentError)]="currentError"
  [(mensajeExito)]="mensajeExito"
  [availableColumns]="availableColumns"
  [visibleColumnsCount]="visibleColumnsCount"
  [columnMessageWarning]="columnMessageWarning"
  [(searchQuery)]="searchQuery"
  (searchQueryChange)="onSearchChange()"
  [(pageSize)]="pageSize"
  (pageSizeChange)="cambiarTamanoPagina($event)"
  [pageSizeOptions]="pageSizeOptions"
  [paginatedTarjetas]="paginatedTarjetas"
  [totalOriginal]="tarjetas.length"
  [totalRecords]="totalRecords"
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  [pagesArray]="pagesArray"
  [recordRangeStart]="recordRangeStart"
  [recordRangeEnd]="recordRangeEnd"
  [sortColumn]="sortColumn"
  [sortDirection]="sortDirection"
  (sort)="ordenarPorColumna($event)"
  (cambiarPagina)="cambiarPagina($event)"
  (abrirDetalle)="abrirDetalle($event)"
  (abrirTarjeta)="abrirTarjeta($event)"
  (regenerarTarjeta)="regenerarTarjeta($event)"
  (abrirHistorial)="abrirHistorial($event)"
  (resetColumns)="resetColumns()"
></app-tabla-contadores>

<app-form-emision-contadores
  *ngIf="vistaActiva === 'emision-individual'"
  [(tipoSolicitud)]="tipoSolicitud"
  [(nuevaIdentificacion)]="nuevaIdentificacion"
  [cargandoBusqueda]="cargandoBusqueda"
  [busquedaRealizada]="busquedaRealizada"
  [datosConsulta]="datosConsulta"
  [mensajeError]="mensajeError"
  [mensajeExito]="mensajeExito"
  [loading]="loading"
  [brandingColorFondo]="brandingColorFondo"
  [brandingColorLetra]="brandingColorLetra"
  [brandingFuenteLetra]="brandingFuenteLetra"
  [brandingLogoUrl]="brandingLogoUrl"
  [brandingPatronUrl]="brandingPatronUrl"
  [getFotoUrlFn]="getFotoUrl.bind(this)"
  (consultarMatricula)="consultarMatricula()"
  (confirmarEmision)="confirmarEmision()"
></app-form-emision-contadores>

<app-emision-masiva-contadores
  *ngIf="vistaActiva === 'emision-masiva'"
  [bulkResultText]="bulkResultText"
  (descargarPlantillaCSV)="descargarPlantillaCSV()"
  (seleccionarArchivo)="seleccionarArchivo($event)"
  (procesarEmisionMasiva)="procesarEmisionMasiva()"
></app-emision-masiva-contadores>

<app-historial-contadores
  *ngIf="vistaActiva === 'historial' && selectedTarjeta"
  [selectedTarjeta]="selectedTarjeta"
  [selectedTarjetaHistorial]="selectedTarjetaHistorial"
  [getFotoUrlFn]="getFotoUrl.bind(this)"
  [getFechaEmisionFn]="getFechaEmision.bind(this)"
></app-historial-contadores>

<app-modal-detalle-tarjeta
  [isOpen]="isDetailModalOpen"
  [isCardModalOpen]="isCardModalOpen"
  [selectedTarjeta]="selectedTarjeta"
  [tipoTarjeta]="'contadores'"
  [brandingColorFondo]="brandingColorFondo"
  [brandingColorLetra]="brandingColorLetra"
  [brandingFuenteLetra]="brandingFuenteLetra"
  [brandingLogoUrl]="brandingLogoUrl"
  [brandingPatronUrl]="brandingPatronUrl"
  [getFotoUrlFn]="getFotoUrl.bind(this)"
  (cerrar)="cerrarDetalle()"
  (cerrarTarjeta)="cerrarTarjeta()"
></app-modal-detalle-tarjeta>
